/* 
 * Handige fixes om problemen te voorkomen
 */

* {  
  /* zorg dat border meetelt bij de width en height van boxen */
  box-sizing: border-box;
  /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders is het soms 0) */
  overflow:auto;
}

/* 
 * Basislayout 
 */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(233, 233, 233);  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(88, 49, 87);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* 
 * basis layout planeet-=pagina's 
 */

.titel-plaat {
  border:solid 2px red;
  width:300px;
  margin:auto;
  text-align:center;
}

.plaat-rij {
  border:solid 2px red;
  width:640px;
  margin:auto;
  text-align:center;
  padding: 2px;
}

.grote-tekst {
  border:solid 2px red;
  width:640
  margin:auto;
  text-align:left;
  padding: 2px;
}

.kleine-tekst {
  border:solid 2px red;
  width:25%;
  margin:left;
  text-align:left;
  float:left;
  padding: 2px;
}

.middel-tekst {
  border:solid 2px red;
  width:75%;
  margin:left;
  text-align:left;
  float:right;
  padding: 2px;
}

.container {
  border:solid 2px green; 
}

.plaatje4oprij {
  float:left;
  width:25%;
}

img{
  width:100%;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #5c5c5c;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(211, 211, 211);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #6f5172;
}

nav li a.active {
    background-color: rgb(88, 49, 87);
}




