/* 
 * Handige fixes om problemen te voorkomen
 */

* {  
  /* zorg dat border meetelt bij de width en height van boxen */
  box-sizing: border-box;
  /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders is het soms 0) */
  overflow:auto;
}

/* 
 * Basislayout 
 */

html, body {
    height: 100%;
    padding: 0;
    background-image: url(afbeeldingen/sterrennacht.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255,255,255);
    font: Roboto Condensed;
    text-shadow: 8px 5px 2px black;
    word-spacing: 7px;
}

body {
    font-family: Alegreya Sans SC;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(158, 89, 156);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

/* 
 * basis layout planeet-=pagina's 
 */

.titel-plaat {
  width:300px;
  margin:auto;
  text-align:center;
}

#mercurius{
margin-top:30px;
}

#saturnus{
margin-top:30px;
}

#neptunus{
margin-top:30px;
}

#zonnestelsel-planeet{
  margin-top:10px;
  margin-bottom:10px;
}

#neptunus-ander{
  margin-top:30px;
}

.plaat-rij {
  width:100%;
  margin:auto;
  text-align:center;
  background:black;
}

.grote-tekst {
  width:100%;
  margin:auto;
  text-align:left;
  float:left;
  padding: 2px;
}

.kleine-tekst {
  width:38%;
  margin:left;
  text-align:left;
  float:left;
  padding: 2px;
}

.middel-tekst {
  width:60%;
  margin:left;
  text-align:left;
  float:right;
  padding: 2px;
}

.container {
  width:100%;
}

.plaatje4oprij {
  float:left;
  width:25%;
  border:2px black solid;
}

img{
  width:100%;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #5c5c5c;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(211, 211, 211);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #6f5172;
}

nav li a.active {
    background-color: rgb(88, 49, 87);
}




